<body>
    <nav>
      <ul>
        <li>
          <a href="/users">Users</a>
        </li>
        <li>
          <a href="/photos">Photos</a>
        </li>
      </ul>
    </nav>
    <h1><%=@the_user.username%></h1>

<dl>
  <dt>ID</dt>
  <dd><%=@the_user.id%></dd>

  <dt>Edit user</dt>
  <dd>
    <form action="/update_user/117" >
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="input_username" placeholder="Enter a username..." value="<%=@the_user.username%>">

      <button>Update user</button>
    </form>
  </dd>
</dl>

<h2>Own photos <%=@photos_match.count%> </h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th></th>
  </tr>


  <% @photos_match.each do |a_photo_match| %>
  <tr>
    <td>
      <img src="<%=a_photo_match.image%>">
    </td>

    <td>
      <%=a_photo_match.caption%>
    </td>

    <td>
      <%u=User.where({:id=>a_photo_match.owner_id}).at(0)%>
      <%=u.username%>
      
      
        </td>

    <td>
      <%=a_photo_match.created_at%>
    </td>

    <td>
      <a href="/photos/<%=a_photo_match.id%>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
  </table>

  </body>